#login-page, #signup-page, #support-page {
  .login-logo {
    padding: 35px 0;
    margin-bottom: 20px;
    min-height: 150px;
    text-align: center;
  }
  .my-label {
    font-size: 21px;
  }

  .login-logo img {
    max-width: 170px;
  }
  #test{
    height: 55px;
    //margin-bottom: 8px;
  }

  .list {
    margin-bottom: 0;
  }

}

#login{
  .ion-item {
    border-radius: 30px !important;
    padding-left: 30px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
  }
}

